* {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  padding: 10px;
  background-color: aliceblue;
}

ul {
  display: flex;
  justify-content: space-around;
}
li {
  list-style: none;
  width: 20%;
}
li a {
  color: rgb(16, 17, 16);
  text-decoration: none;
}
li a:hover {
  color: rgb(106, 141, 154);
  font-weight: 700;
}
.active {
  color: rgb(74, 84, 88);
  font-weight: 700;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: 40px auto;
}

td {
  border: 2px solid #8b8383;
  padding: 8px;
  text-align: center;
  width: 100px;
  /* Встановіть бажану ширину комірок, наприклад, 100px */
}
tr {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.list tr {
  background-color: #f3e2e2;
}

.chart tr {
  background-color: #c6e0f0;
}

.table tr {
  background-color: #c9f0c6;
}
